@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins;
}

body{
    background-color: black;
    height: 170vh;
    width: 100vw;
}
.navbar{
    display: inline-flex;
    height: 70px;
    width: 100vw;
    background-color: rgba(165, 27, 27, 0.1);
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;
}

.navbar .logo img{
    width: 80px;
}

.navbar .links ul{
    display: flex;
}

.navbar .links ul li{
    list-style: none;
    padding: 20px;
}

.navbar .links ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.navbar .links ul li span{
    color: darkturquoise;
}

.hi .words{
    color: white;
}

.hi{
    margin: 50px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hi .words #first{
    margin-bottom: 30px;
}

.hi .words h2{
    margin-bottom: 30px;
    font-size: 45px;
    text-transform: capitalize;
    color: darkturquoise;
}